{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_USER') %}
		{{dump(app.user.panier)}}
	{% endif %}
    {{dump(panier)}}
    
	{% if panier is not empty%}
		<table border="1" class="table table-striped table-inverse">
			<thead>
				<tr>
					<th>Nom du produit</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% for contenupanier in panier %}
					<tr>
						<td>{{contenupanier.id}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Le panier est vide</p>
	{% endif %}
{% endblock %}
